<header>
    <div class="custom-container">
        <div class="py-5">
            <div class="flex justify-end items-center">
                <button class="md:hidden font-bold text-3xl"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="flex justify-end ">
                <ul class="hidden md:flex space-x-4 font-bold">
                    <li><a routerLink="works">Works</a></li>
                    <li><a routerLink="blog">Blog</a></li>
                    <li><a routerLink="/">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>