<div class="banner">
    <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="banner-content">
                <div class="banner-content__title">
                    Hi, I am Linh, Creative Technologist
                </div>
                <p class="banner-content__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex
                    officiis libero quae unde id quod,
                    recusandae eos maiores obcaecati doloribus sit a. Nisi dolor, fugiat deleniti quia dignissimos et.
                    Nisi dolor, fugiat deleniti quia dignissimos et. Nisi dolor, fugiat deleniti quia dignissimos et.
                </p>
                <a href="" class="btn btn-danger banner-content__btn">Download Resume</a>
            </div>
            <div class="banner-picture">
                <img src="https://lh3.googleusercontent.com/a-/AOh14GhGY0dwqgkxDujRJqItzRmE6yZSUa1DN9wu2ISgcg=s360-p-rw-no"
                    alt="" class="banner-picture__thumb" />
            </div>
        </div>
    </div>
</div>