<div class="banner">
    <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="banner-content">
                <div class="banner-content__title">
                    {{listProfile[0].tittle}}
                </div>
                <p class="banner-content__desc">{{listProfile[0].desc}}
                </p>
                <a href="" class="btn btn-danger banner-content__btn">Download Resume</a>
            </div>
            <div class="banner-picture">
                <img src={{listProfile[0].avatar}} alt="" class="banner-picture__thumb" />
            </div>
        </div>
    </div>
</div>