<div class="deltailProject">
    <div class="custom-container">
        <div class="container-detail">
            <div class="my-9">
                <h2 class="font-bold text-3xl">{{detailProject.name}}</h2>
            </div>
            <div class="container-detail-post">
                <div class="">
                    <span class="project__createat">{{detailProject.time}}</span>
                    <span class="text-[20px]">{{detailProject.category}}, User Experience Design</span>
                </div>
                <p class="text-[16px] my-5 inline-block md:pr-[20px]">{{detailProject.desc}}</p>
                <div class="detail-project-img">
                    <img class="project__img" src={{detailProject.avatar}} alt="">
                </div>
            </div>
            <div class="detail-project__title my-5">
                <h2 class="font-bold text-[30px] my-3">Heading 1</h2>
                <h3 class="font-bold text-[24px] my-3">Heading 2</h3>
                <p class="md:pr-[20px]">Amet minim mollit non deserunt ullamco est sit
                    aliqua dolor do
                    amet
                    sint. Velit
                    officia
                    consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet</p>
            </div>
            <div class="detail-project__image">
                <img class="project__img my-4 w-full" src="https://i.imgur.com/JEKUCSn.jpg" alt="">
                <img class="project__img w-full" src="https://i.imgur.com/LwiNiwK.jpg" alt="">
            </div>
        </div>
    </div>
</div>