<div class="deltailProject">
    <div class="custom-container">
        <div class="container-detail">
            <div class="my-9">
                <h2 class="font-bold text-3xl">{{detailBlog.name}}</h2>
            </div>
            <div class="container-detail-post">
                <div class="">
                    <span class="project__createat">{{detailBlog.time}}</span>
                    <span class="text-[20px]">{{detailBlog.cateBlog?.name}}</span>
                </div>
                <p class="text-[16px] my-5 inline-block md:pr-[20px]">{{detailBlog.desc}}</p>
            </div>
            <div class="detail-project__title my-5">
                <h2 class="font-bold text-[30px] my-3">Heading 1</h2>
                <p class="md:pr-[20px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima soluta quasi
                    consequuntur illo. Expedita, debitis tenetur optio fugit molestiae odio sequi totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi debitis tenetur optio fugit molestiae odio sequi
                    totam similique
                    doloremque autem deserunt laborum beatae quae animi</p>
            </div>
        </div>
    </div>
</div>