<div class="blog">
    <div class="custom-container">
        <div class="my-7">
            <h2 class="font-bold text-3xl">Blog</h2>
        </div>
        <div class="blog ">
            <div class="grid md:grid-cols-1 gap-4  md:pr-[150px]">
                <div class="blog-item " *ngFor="let blog of listBlog">
                    <h3 class="blog-item__title">
                        {{blog.name}}
                    </h3>
                    <div class="blog-item__meta">
                        <span>{{blog.time}}</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">{{blog.author}}</a>
                    </div>
                    <p class="blog-item__desc md:pr-[20px]">
                        {{blog.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>