<div class="blog">
    <div class="custom-container">
        <div class="my-7">
            <h2 class="font-bold text-3xl">Blog</h2>
        </div>
        <div class="blog ">
            <div class="grid md:grid-cols-1 gap-4  md:pr-[150px]">
                <div class="blog-item ">
                    <h3 class="blog-item__title">
                        Making a design system from scratch
                    </h3>
                    <div class="blog-item__meta">
                        <span>12 Feb 2020</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Design, Pattern</a>
                    </div>
                    <p class="blog-item__desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit.
                        Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="blog-item ">
                    <h3 class="blog-item__title">
                        Making a design system from scratch
                    </h3>
                    <div class="blog-item__meta">
                        <span>12 Feb 2020</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Design, Pattern</a>
                    </div>
                    <p class="blog-item__desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit.
                        Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="blog-item ">
                    <h3 class="blog-item__title">
                        Making a design system from scratch
                    </h3>
                    <div class="blog-item__meta">
                        <span>12 Feb 2020</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Design, Pattern</a>
                    </div>
                    <p class="blog-item__desc">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit.
                        Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>